body {
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #505050;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card {
  margin: 10px 0;
  background: #999999;
}
.card:hover {
  background: #404040;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s; 
}
.card-body{
  background: #fff;
}
.card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.nav-item {
  padding-right: 30px;
}

.navbar{
  background: #134b72;
  padding: 20px;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.4s; 
}
/*
.navbar:hover {
  background: #fff;
}
*/
.navbar-brand{
  color: #fff;
}
.nav-link{
  color: rgb(200, 200, 200);
}

.nav-link:hover{
  color: #fff;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(33,199,200)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
  margin: none;
} 
#welcome-div{
  background: rgb(240, 240, 240);
  padding: 20px;
  margin-bottom: 30px;
}
.links{
  text-decoration: none;
}

.footer {
  background-color: #134b72;
  color: white;
  text-align: center;
}