body {
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #505050;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card {
  margin: 10px 0;
  /*background: #999999; */
  border: 1px solid #fff;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-body{
  background: #fff;
}
.card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.nav-item {
  padding-right: 30px;
}

.navbar{
  background: #134b72;
  padding: 20px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s; 
}
/*
.navbar:hover {
  background: #fff;
}
*/
.navbar-brand{
  color: #fff;
}
.nav-link{
  color: rgb(200, 200, 200);
}

.nav-link:hover{
  color: #fff;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(33,199,200)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
  margin: none;
} 
#welcome-div{
  background: rgb(240, 240, 240);
  padding: 20px;
  margin-bottom: 30px;
}
.links{
  text-decoration: none;
}
.grids{
  text-decoration: none;
}

.footer {
  background-color: #134b72;
  color: white;
  text-align: center;
}
.search {
  width: 100%;
}
.checked {
  color: orange
}

/* social icons css */
.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  width: 50px;
  padding: 10px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
    width: 65px;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}
.reddit {
  background: orangered;
  color: white;
}
.pininterest {
  background: rgb(180, 20, 20);
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}
/* Social icons css ends here */