#welcome-div{
    background: rgb(240, 240, 240);
    padding: 20px;
    margin-bottom: 30px;
    text-align: center;

    h2 {
        color: darken($primary-color, 10%);
    }

    h3 {
        color: $secondary-color;
    }
  }